@charset "utf-8";
.container header {
    background-color: #F08002;
}
.container #hero {
    background-image: url(images/%E4%B8%8B%E8%BC%89.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(203,255,226,1.00) 0%,rgba(161,255,204,1.00) 100%,rgba(0,255,116,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(203,255,226,1.00) 0%,rgba(161,255,204,1.00) 100%,rgba(0,255,116,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(203,255,226,1.00) 0%,rgba(161,255,204,1.00) 100%,rgba(0,255,116,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(203,255,226,1.00) 0%,rgba(161,255,204,1.00) 100%,rgba(0,255,116,1.00) 100%);
}


.container header nav {
    background-color: #F08002;
}
